<p>parent-table works!</p>
<!-- <app-alert></app-alert> -->
<div id="alert-layer"></div>
<div id="modal-layer"></div>
<button class="btn outline-btn" (click)="openAlert()">alert</button>
<button class="btn outline-btn" (click)="openConfirmModal()">alert confirm modal</button>
<button class="btn outline-btn" (click)="openErrorModal()">alert confirm modal</button>
<app-common-table>
    <!-- <ng-template template="header" let-columns>
        <tr>
            <th *ngFor="let column of columns">{{column.title}}</th>
        </tr>
    </ng-template> -->
    <ng-template templateName="name" let-row="row" let-column="column">
        <!-- <a style="color:red"> {{row[column.column]}}</a> -->
        <app-test-link [title]="row[column.column]">{{row[column.column]}}</app-test-link>
    </ng-template>

    <ng-template templateName="age" let-row="row" let-column="column">
        <a style="color:red"> {{row['age']}}</a>
        <!-- <app-test-link [title]="row[column.column]">{{row[column.column]}}</app-test-link> -->
    </ng-template>
</app-common-table>