<p>common-table works!</p>
<table class="table">
    <thead>
        <tr>
            <th *ngFor="let column of columns">{{column.title}}</th>
        </tr>
        <!-- <ng-container *ngTemplateOutlet="tp.template; context:{$implicit:columns}"></ng-container> -->
    </thead>
    <tbody>
        <tr *ngFor="let row of data">
            <td *ngFor="let column of columns">
                <ng-container *ngIf="column.render">
                    <ng-container *ngTemplateOutlet="templateObj[column.render]; context: {row:row,column:column}">
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!column.render">
                    {{row[column.column]}}
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>